/*head*/
body{
background-color:white;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.head{
  width: 100%;
  z-index: 5;

  background-color: white;
  position: fixed;
  top:0; left: 0; right: 0;
  box-shadow: 0 2px rgb(0, 0, 0,0.1) ;
}
.row{
  width: 80%;
  height: 80px;
  padding-right: 50px;
  padding-left: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.col1f span{
  font-size: 20px;
  color: rgb(245, 128, 231);
}

.col1u ul{
list-style: none;
display: flex;

gap:20px;
}
.col1u ul li a{
color: rgb(73, 72, 72);
text-decoration: none; 
font-size: 20px;
}
.col1u ul li a:hover{
  color: rgb(255, 186, 250);

  }
  .col1ic .fa{
margin-right: 8px;
font-size: 20px;

  }
  .col1ic .fa:hover{

color: rgb(235, 150, 230);
    
      }
/*under head*/

.under{
  width: 100%;
  min-width: 1000px;
  height: 1000px;
  background-image: url(tulip.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;

}
.under .par{
  width: 30%;

  padding-top: 300px;
  padding-left:150px ;

}
.under .par h1{

  font-size:60px;
  color:rgb(71, 71, 71);
  padding-bottom: 10px;
}
.under .par h2{
  font-size:30px;
  color: rgb(236, 99, 211);
  padding-bottom: 10px;
}
.under .par p{
  color: rgb(119, 119, 119);
  padding-bottom: 10px;
}
.btn{
  display: block;
  width: 80px;
  margin-top: 30px;
  padding: 10px 30px;
  background-color: rgb(73, 70, 70);
  color:white;
  border-radius: 20px;
}
 .btn:hover{
  background-color: rgb(236, 99, 211); 
 }

 /*about*/


 .About{
  margin: 50px auto; 
width: 80%;
font-size: 40px;
  background-color: rgb(246, 220, 232);
  text-align: center;
  color:rgb(236, 99, 211); ;
 }
 .About span{
  color: rgb(29, 28, 28);
 }

 /*about contant*/
 .about-sec{
  background-color: white;
  margin-bottom:20px ;
 }
 .row1{
  display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
gap:50px;
 }
 .vedio{
  width: 30%;
background-color:white;
padding: 20px;
min-width: 400px;
  position: relative;

 }
 video{
  width: 100%;

 }
.vedio h2{
height: 80px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top:40%; right: 0;
  background-color: white;
  z-index: 3;
  color: rgba(0, 0, 0, 0.984);
  mix-blend-mode: screen;
}
.about-bar{
  width: 40%;
  min-width: 400px;
}
.about-bar p{

  padding-bottom: 20px;
  padding-top: 20px;
  color:rgb(93, 93, 93)
}


/*cards*/

.cont2{
  background-color: whitesmoke;

  margin-top:80px ;
  padding-top: 80px;
  padding-bottom: 80px;
}
.row2{
  display: flex;
  flex-wrap: wrap;
  gap:70px;
width: 80%;
margin-left:auto;
margin-right: auto;
justify-content: center;
padding: 20px;

}

.card{
  display: flex;
  gap: 25px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px rgb(0, 0, 0,0.1);
flex-grow:1;
text-align: center;
}
.card .fa{
  font-size: 30px;
}

.card:hover{
  transform: translateY(-10px);
}

/*latest*/

.imgs{
  width: 80%;

padding-left: 50px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,340px);
justify-content: center;
  gap:50px;
}
.cardimg{
padding: 20px;
  box-shadow:2px 2px 2px 2px rgb(0, 0, 0,0.1);
  position: relative;
  z-index: 0;

}
.cardimg img{
  display: block;
  width: 200px;
  height: 200px;
margin: auto;
  z-index: 0;
}
.cardimg .pric{
  text-align: center;
}
.pric del{
  text-decoration: line-through;
  color:rgb(148, 147, 147);
}
.pric strong{
  font-size: 20px;
  color:rgb(239, 159, 223);
}
.cardimg .add{
  background-color: rgb(246, 82, 169);
  position: absolute;
  top:70%;left:0;bottom: -7px;
  display: flex;
  gap:40px;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  visibility: visible;
}

.cardimg .add .fa-heart{
  border-right: 1px white solid;
  padding: 13px;
  color: white;
  
}
.cardimg .add .fa-arrow-right{
  border-left: 1px white solid;
  padding: 13px;
  color: white;
  
}
.cardimg .add p{
  color: white;
  
}
.cardimg .add p:hover{
  color:rgb(217, 61, 168);

  
}
.cardimg .add .fa-arrow-right:hover{

  color:rgb(217, 61, 168);

  
}
.cardimg .add .fa-heart:hover{

  color:rgb(217, 61, 168);
  
  
}

.cardimg img:hover{
  width: 250px;
  height: 250px;
}
.latest{

margin-bottom: 100px;
padding-bottom: 20px;
  
}

/*review*/

.rev{
  display:flex;
  flex-wrap: wrap;
  gap:100px;
  justify-content: center;
}
.rev1{
  width:250px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding:50px ;

}
.rev1 .star{
  color:rgb(239, 96, 151);
  margin-bottom: 20px;
}
.rev .user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.rev .user{
  gap:20px;
  display: flex;
  margin-top: 50px;
}
.rev h5{
color: rgb(118, 116, 116);
}
.cust{
  margin-bottom:50px;  
}
/*conect*/
.conect{
  margin-top:80px;
  padding-top: 20px;
  margin-bottom:80px;
}
.row4{
   display: grid;
  grid-template-columns: repeat(auto-fill,500px);
  justify-content: center;
  align-items: center;
  gap:30px;

}
.row4 input{
  display: block;
  width: 100%;
  height: 40px;
margin-bottom: 30px;
border-radius: 10px;
padding-left:10px ;
outline-color: rgb(240, 80, 189);
}
.row4 textarea{
  width: 100%;
  height: 100px;
  padding-left:10px ;
  border-radius: 10px;
margin-bottom: 30px;
outline-color: rgb(240, 80, 189);
}
.clo2C{
margin: 20px;

  height: 400px;
  padding: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  border-radius: 20px;

}
.clo2C .btn{
  width: 100px;
}
.clo2 img{
height: 500px;
}
/*footer*/
.row5{
  width:80%;
  display:flex;
  flex-wrap: wrap;


  margin: auto;
  justify-content: space-between;
}
.row5 ul li img{
width:50px;
}
.row5 ul{
  list-style: none;
  min-width: none;
  margin: 20px;
}
.row5 ul li{
  margin: 10px;
}
.row5 ul li a{
  color:rgb(114, 110, 110);
}
.row5 ul li a:hover{
  color:rgb(220, 135, 183);
  text-decoration: underline;
}

